.container{
    margin: auto;
    width: 26%;
}

.one{
    background-color: cornflowerblue;
    height: 200px;
    width: 400px;
    padding: 5px;
}


.two {
    background-color: rgb(4, 55, 150);
    height: 200px;
    width: 400px;
    padding: 5px;
}

.three {
    background-color: cornflowerblue;
    height: 200px;
    width: 400px;
    padding: 5px;
}

.four {
    background-color:rgb(4, 55, 150);
    height: 200px;
    width: 400px;
    padding: 5px;
}

.five {
    background-color: cornflowerblue;
    height: 200px;
    width: 400px;
    padding: 5px;
}

.six {
    background-color: rgb(4, 55, 150);
    height: 200px;
    width: 400px;
    padding: 5px;
}

.seven {
    background-color: cornflowerblue;
    height: 200px;
    width: 400px;
    padding: 5px;
}


.eight {
    background-color: rgb(4, 55, 150);
    height: 200px;
    width: 400px;
    padding: 5px;
}


.nine{
    background-color: cornflowerblue;
    height: 200px;
    width: 400px;
    padding: 5px;
}


.ten {
    background-color: rgb(4, 55, 150);
    height: 200px;
    width: 400px;
    padding: 5px;
}











